@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:400,500');

$main-font: 'Open sans', sans-serif;
$second-font: 'Roboto', sans-serif;
$main-bg-color: #eee;
$second-bg-color: #272B33;

@mixin headers {
	font-family: $second-font;
	font-weight: 500;
}

@mixin btn-art-hover {
	transition: all .3s;
	background: $second-bg-color;
	color: $main-bg-color;
}

@mixin btn-art {
	border: 2px solid $second-bg-color;
	background: rgba(0,0,0,0);
	cursor: pointer;
	font-family: $second-font;
	padding: 6px 12px;
}

* {
	margin: 0;
	padding: 0;
}

body, html {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
}

ul, li {
	list-style-type: none;
}

button, input, textarea {
	outline: 0;
	border: 0;
}

.header {
	width: 100%;
	border-bottom: 1px solid #EEE;
	header{
		display: flex;
		flex-wrap: wrap;
		padding: 25px 0;
		background: #eee;
		justify-content: space-between;
		.logo {
			align-self: center;
			padding-left: 100px;
			h1 {
				@include headers;
				a {
					color: #000;
				}
			}
		}
		.menu {
			padding-right: 100px;
			display: flex;
			ul {
				display: flex;
				li {
					font-family: $main-font;
					margin-left: 15px;
					align-self: center;
					a {
						color: #000;
					}
					a:hover {
						color: $second-bg-color;
					}
				}
			}
			.header-search {
				i {
					font-size: 20px;
				}
			}
			.header-auth, .header-search {
				align-self: center;
				margin-left: 15px;
				a {
					color: #000;
					i {
						font-size: 35px;
					}
				}
			}
		}
	}
}

.content {
	max-width: 1200px;
	width: 100%;
	margin: 25px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.main-all-article-list {
		max-width: 900px;
		width: 100%;
		.header-posts {
			background: $main-bg-color;
			h1 {
				@include headers;
				padding: 15px;
			}
		}
		.articles-list {
			width: 100%;
			ul {
				width: 100%;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.article-item {
					align-self: flex-start;
					width: calc(50% - 12.5px);
					margin-top: 25px;
					background: $main-bg-color;
					.article-preview {
						header {
							.article-title {
								p {
									@include headers;
									padding: 15px;
									border-bottom: 1px solid $second-bg-color;
								}
							}
							.article-static {
								width: 100%;
								border-bottom: 1px solid $second-bg-color;
								padding: 5px 0;
								display: flex;
								justify-content: space-around;
								p {
									span {
										font-family: $second-font;
									}
								}
							}
						}
						.article-preview-descr {
							margin: 10px;
							display: flex;
							img {
								align-self: flex-start;
								width: 100px;
								max-height: 120px;
							}
							p {
								font-family: $main-font;
								word-spacing: 1px;
								font-size: 13px;
								margin-left: 20px;
							}
						}
						footer {
							border-top: 1px solid $second-bg-color;
							width: calc(100% - 20px);
							display: flex;
							padding: 10px;
							justify-content: space-between;
							p {
								align-self: center;
								font-family: $second-font;
								i {
									margin-right: 5px;
								}
								a {
									color: $second-bg-color;
								}
							}
							button {
								@include btn-art;
							}
							button:hover {
								@include btn-art-hover;
							}
						}
					}
				}
			}
		}
	}
	.view-more-article {
		max-width: 900px;
		width: 100%;
		margin-top: 25px;
		display: flex;
		justify-content: center;
		button {
			@include btn-art;
		}
		button:hover {
			@include btn-art-hover;
		}
	}
	.pagination {
		max-width: 900px;
		width: 100%;
		margin-top: 25px;
		ul {
			display: flex;
			justify-content: center;
			li {
				cursor: pointer;
				@include headers;
				margin-left: 15px;
				padding: 7px 14px;
				background: $main-bg-color;
				border: 2px solid $second-bg-color;
			}
			li:hover {
				transition: all .3s;
				background: $second-bg-color;
				color: $main-bg-color;
			}
		}
	}
	.sidebar {
		max-width: 275px;
		width: 100%;
		align-self: flex-start;
		margin-left: 25px;
		.popular-articles {
			width: 100%;
			background: $main-bg-color;
			.header-popular-articles {
				border-bottom: 1px solid;
				h1 {
					font-size: 19px;
					text-align: center;
					padding: 10px;
					@include headers;
				}
			}
			.pop-art-item {
				width: calc(100% - 20px);
				padding: 10px;
				display: flex;
				border-bottom: 1px solid $second-bg-color;
				.pop-art-img {
					img {
						width: 50px;
					}
					p {
						@include headers;
						span {
							font-size: 13px;
						}
					}
				}
				.pop-art-descr {
					margin-left: 5px;
					transition: all .3s;
					h1, p, span {
						@include headers;
						font-size: 15px;
					}
					h1 {
						a {
							color: #000;
						}
					}
					p {
						font-weight: 400;
						font-size: 13px;
						i {
							font-size: 16px;
						}
						span {
							font-family: $main-font;
						}
					}
				}
			}
			.pop-art-item:last-child {
				border-bottom: 0;
			}
			.pop-art-item:hover {
				transition: all .3s;
				background: #DDD;
			}
		}
	}
}

.footer {
	width: 100%;
	background: $main-bg-color;
	footer {
		p {
			line-height: 70px;
			margin-left: 100px;
			@include headers;
		}
	}
}